{% load i18n %}

{% if app_list %}
  <div class="offcanvas-body accordion" id="app_list_accordion">
    {% for app in app_list %}
      <div class="accordion-item">
        <div id="heading_{{app.app_label}}" class="app-{{ app.app_label }} module accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{app.app_label}}" aria-expanded="true" aria-controls="collapse_{{app.app_label}}">
            {{ app.name }}
          </button>
        </div>
        <div id="collapse_{{app.app_label}}" class="accordion-collapse collapse show" aria-labelledby="heading_{{app.app_label}}" >
          <div class="accordion-body list-group">
            {% for model in app.models %}
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-7">
                  {% if model.admin_url %}
                    <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a>
                  {% else %}
                    {{ model.name }}
                  {% endif %}
                </li>
    
                <li class="list-group-item col-3">
                  {% if model.add_url %}
                    <a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a>
                  {% endif %}
                </li>
    
                <li class="list-group-item col-2">
                  {% if model.admin_url and show_changelinks %}
                    {% if model.view_only %}
                      <a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a>
                    {% else %}
                      <a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a>
                    {% endif %}
                  {% elif show_changelinks %}
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
